@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1 class="display-4 text-white"><i class="bi bi-person-vcard"></i> Agenda <span class="fw-bold">Médica</span></h1>

	<p><a class="btn btn-outline-secondary btn-lg" asp-area="Identity" asp-page="/Account/Login">Agende Sua Consulta</a></p>

	<img src="~/novapasta/bcy.jpg" />
</div>