@{
	ViewData["Title"] = "SOBRE NÓS";
}
<h1>@ViewData["Title"]</h1>
<h1 class="text-center display-5 text-dark ">SOBRE <span class="fw-bold">NÓS</span></h1>
<p>
	Na BeautyClinic, cuidamos da sua saúde e bem-estar com dedicação e tecnologia. Nossa clínica oferece um atendimento completo, contando com uma equipe de médicos especializados em diversas áreas, prontos para proporcionar o melhor cuidado a cada paciente.

	Com nosso sistema de agendamento online, você pode marcar consultas de forma rápida e prática, escolhendo a especialidade e o profissional que melhor atendem às suas necessidades. Nosso objetivo é oferecer um atendimento humanizado, ágil e eficiente, sempre priorizando a sua saúde e qualidade de vida.

	Na BeautyClinic, você encontra confiança, cuidado e excelência em cada atendimento.
</p>
