html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.text-light {
    color: lightsteelblue !important
}

.bg-dark {
    background-color: silver !important
}

.bg-black {
    background-color: #808080 !important
}

.table-black, table-striped {
    background-color: #373535 !important
}


.table > :not(caption) > * > * {
    background-color: #ff0000;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-bg-type: #808080
}

*/

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-color-type: #808080;
    --bs-table-bg-type: #373535;
}
